version: "3"

services:

  nginx:
    build:
      context: ./nginx/
      dockerfile: Nginx.Dockerfile
    depends_on:
      - webserver
    # - quoteserver
    ports:
      - "5100:5100"
    restart: always

  client:
    container_name: client
    build: ./client
    links:
      - webserver
    depends_on:
      - nginx
      - webserver
      # - quoteserver
    volumes:
      - /data/log
      
  webserver:
    build: ./server
    links:
      - mongo
    environment:
      - MONGO_SERVER=mongo
      - MONGO_INITDB_DATABASE=seng468
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - /data/log

  
  mongo:
    container_name: mongo
    image: mongo
    command: mongod --quiet --auth --port 27017
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_DATABASE=seng468
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - /data/db

  # quoteserver:
  #   container_name: quoteserver
  #   build: ./quoteserver
  #   ports:
  #     - 65438:65438

    
  

